*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}



body{
	background-color:	#efefef ;
}


main{
	width: 80%;
	padding: 60px; /*Внешние*/
	margin: auto; /*Внутренние*/
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);

}

.photo {
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 16 * 9);
	margin: 20px; /*Внутренние*/
	background-color: orange;
	background-position: center ;
	background-size: cover;
	transition: all 0.5s ease;
}

.photo:hover {

	transform: rotate(3deg) scale(1.07);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

h1{
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.photo1 {
	background-image: url(../img/img1.jpeg) ;
}

.photo2 {
	background-image: url(C:/Users/User/Desktop/Gallery/img/img2.jpeg) ;
}

.photo3 {
	background-image: url(C:/Users/User/Desktop/Gallery/img/img3.jpeg) ;
}

.photo4 {
	background-image: url(C:/Users/User/Desktop/Gallery/img/img4.jpeg) ;
}

.photo5 {
	background-image: url(C:/Users/User/Desktop/Gallery/img/img5.jpeg) ;
}

.photo6 {
	background-image: url(C:/Users/User/Desktop/Gallery/img/img6.jpeg) ;
}


 